extends layout

block content
  h1 My Secrets Keeper!!!
  #container
    form(action="/", method="post")
      h2 Login and tell me your SECRETS:
      p Name:
      input(type="text", id="Name", name="Name")
      p Password:
      input(type="password", id="Password", name="Password")
      p
      input(type="submit" value="Login")
      p Don't have an account yet?
      input(type="submit" value="Sign Up")
