extends layout

block content
  #container
    form(action="/secrets", method="post")
      p Name:
      input(type="text", id="Name", name="Name")
      p Password:
      input(type="password", id="Password", name="Password")
      p
      input(type="submit" value="Login")
      p Don't have an account yet?
      input(type="submit" value="Sign Up")
