extends layout

block content
  h1= title
  p Jonnys super #{title} website!!!   ¯\_(ツ)_/¯
  p A BIG Welcome to #{title}

form(method="POST", action="/user")
  input(type="hidden", name="_method", value="PUT")
  p name
    input(type="text", name="username")
  p password
    input(type="text", name="password")
  p
    input(type="submit")
