extends layout

block content
  ul
    each s in secretsList
        li #{s.secretText}
        
  form(action="/secrets", method="post")
      h2 Write your secrets here:
      textarea(name="secret", cols="40", rows="5")
      p
      input(type="submit", value="Add Secret")
