extends layout

block content
        
  form(action="/secrets", id="txt" method="post")
      h2 Write your secrets here:
      textarea(id="textArea" name="secret", cols="40", rows="5")
      p
      input(type="submit", value="Add Secret")
