body {
  background-image:url('/images/Secrets_background_v01_t001.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*border: black 2px solid;*/
}

a {
  color: #00B7FF;
}

/*#container {
  border: black 2px solid;
  background-color: gray;
}*/

