body {
  background-image:url('/images/Background_take_02.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*border: black 2px solid;*/
}

a {
  color: #00B7FF;
}

/*#container {
  border: black 2px solid;
  background-color: gray;
}*/

#container {
  width:100%;
  margin-top:20%;
  padding-left:30%;
  padding-right:30%;
}

